{% extends 'base.html' %}

{% block head %}
<title>home</title>
{% endblock %}

{% block body %}
<h1>My Blogs</h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Blog App</h1>
            <p>Welcome To Our Blog.</p>
            <p>Love yourz</p>
            <small>By J.Cole</small>
            <p>
                <a class="btn btn-primary" href="/login" role="button">Login&raquo;</a>
            </p>
            <a class="btn btn-primary" href="/signup" role="button">Sign Up&raquo;</a>
        </div>
    </div>
</main>
{% endblock %}